html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	line-height: 1.6;
	font-family: "Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
	color: #000;
	font-size: 14px
}

input,textarea {
	outline: 0
}

body,h1,h2,h3,h4,p,ul,ol,dl,dd,fieldset,textarea {
	margin: 0
}

fieldset,legend,textarea,input {
	padding: 0
}

textarea,input {
	color: #666
}

textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
	color: #a3a3a3
}

textarea:-moz-placeholder,input:-moz-placeholder {
	color: #a3a3a3
}

textarea::-moz-placeholder,input::-moz-placeholder {
	color: #a3a3a3
}

textarea:-ms-input-placeholder,input:-ms-input-placeholder {
	color: #a3a3a3
}

textarea {
	resize: none;
	overflow-y: scroll
}

ul,ol {
	padding-left: 0;
	list-style-type: none
}

a img,fieldset {
	border: 0
}

a {
	color: #2470d8;
	text-decoration: none;
	outline: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block
}

audio,canvas,video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}[hidden] {
	display: none
}

button,input,select,textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	*font-family: "Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif
}

button,select {
	text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}

button[disabled],html input[disabled] {
	cursor: default
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="search"] {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	vertical-align: top
}

body.ratio2 {
	font-size: 28px
}

.head {
	*zoom: 1;
	padding: 0 10px;
	background-color: #ececec;
	background-image: -moz-linear-gradient(top,#f4f4f4 0,#e6e6e6 100%);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#f4f4f4 0,#e6e6e6 100%);
	background-image: -o-linear-gradient(top,#f4f4f4 0,#e6e6e6 100%);
	background-image: linear-gradient(to bottom,#f4f4f4 0,#e6e6e6 100%);
	border-bottom: 1px solid #c6c6c6;
	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	line-height: 42px;
	height: 42px
}

.head:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}

.body {
	padding: 0 10px
}

.icon_loading {
	display: none;
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;
	margin-top: -80px;
	margin-left: -60px;
	background: transparent url(/bizmall/zh_CN/htmledition/images/icon/loading/icon_loading.gif) no-repeat 50% 50%
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.icon_loading {
		background-image: url(/bizmall/zh_CN/htmledition/images/icon/loading/icon_loading.2x.gif);
		background-size: 120px 120px;
		-webkit-background-size: 120px 120px
	}
}

.btn {
	display: block;
	padding: 0 14px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	overflow: visible;
	height: 38px;
	line-height: 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.7);
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.2),inset 0 1px 1px 0 rgba(255,255,255,0.25);
	-moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.2),inset 0 1px 1px 0 rgba(255,255,255,0.25);
	-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.2),inset 0 1px 1px 0 rgba(255,255,255,0.25);
	-webkit-tap-highlight-color: rgba(255,255,255,0)
}

button.btn,input.btn {
	height: 40px;
	line-height: 36px
}

.btn button,.btn input {
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0;
	outline: 0;
	overflow: visible
}

.btn.btn_input {
	padding: 0
}

.btn.goback {
	background-color: #e3e3e3;
	background-image: -moz-linear-gradient(top,#fff 15%,#d1d1d1 83%);
	background-image: -webkit-gradient(linear,0 15%,0 83%,from(#fff),to(#d1d1d1));
	background-image: -webkit-linear-gradient(top,#fff 15%,#d1d1d1 83%);
	background-image: -o-linear-gradient(top,#fff 15%,#d1d1d1 83%);
	background-image: linear-gradient(to bottom,#fff 15%,#d1d1d1 83%);
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	background-color: #efefef;
	background-image: -moz-linear-gradient(top,#fafafa 15%,#e7e7e7 83%);
	background-image: -webkit-gradient(linear,0 15%,0 83%,from(#fafafa),to(#e7e7e7));
	background-image: -webkit-linear-gradient(top,#fafafa 15%,#e7e7e7 83%);
	background-image: -o-linear-gradient(top,#fafafa 15%,#e7e7e7 83%);
	background-image: linear-gradient(to bottom,#fafafa 15%,#e7e7e7 83%);
	height: 26px;
	line-height: 26px;
	width: auto;
	padding-left: .8em;
	padding-right: .8em;
	display: inline-block;
	border: 1px solid #bebebe
}

.btn.goback:active {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	background-color: #b4b3b3;
	background-image: -moz-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#d2d2d2),to(#a09f9f));
	background-image: -webkit-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: -o-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: linear-gradient(to bottom,#d2d2d2 0,#a09f9f 83%)
}

.btn.goback button,.btn.goback input {
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75)
}

.btn.goback:active {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	background-color: #b4b3b3;
	background-image: -moz-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#d2d2d2),to(#a09f9f));
	background-image: -webkit-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: -o-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: linear-gradient(to bottom,#d2d2d2 0,#a09f9f 83%)
}

.btn.goback button,.btn.goback input {
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75)
}

.btn_primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	background-color: #21a52b;
	background-image: -moz-linear-gradient(top,#53c15c 0,#00920b 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#53c15c),to(#00920b));
	background-image: -webkit-linear-gradient(top,#53c15c 0,#00920b 83%);
	background-image: -o-linear-gradient(top,#53c15c 0,#00920b 83%);
	background-image: linear-gradient(to bottom,#53c15c 0,#00920b 83%)
}

.btn_primary:active {
	background-color: #117b1b;
	background-image: -moz-linear-gradient(top,#2a9b34 0,#00660a 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#2a9b34),to(#00660a));
	background-image: -webkit-linear-gradient(top,#2a9b34 0,#00660a 83%);
	background-image: -o-linear-gradient(top,#2a9b34 0,#00660a 83%);
	background-image: linear-gradient(to bottom,#2a9b34 0,#00660a 83%)
}

.btn_primary button,.btn_primary input {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5)
}

.btn_warn {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	background-color: #c43027;
	background-image: -moz-linear-gradient(top,#f04c4a 0,#a71e10 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#f04c4a),to(#a71e10));
	background-image: -webkit-linear-gradient(top,#f04c4a 0,#a71e10 83%);
	background-image: -o-linear-gradient(top,#f04c4a 0,#a71e10 83%);
	background-image: linear-gradient(to bottom,#f04c4a 0,#a71e10 83%)
}

.btn_warn:active {
	background-color: #971912;
	background-image: -moz-linear-gradient(top,#b92725 0,#801005 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#b92725),to(#801005));
	background-image: -webkit-linear-gradient(top,#b92725 0,#801005 83%);
	background-image: -o-linear-gradient(top,#b92725 0,#801005 83%);
	background-image: linear-gradient(to bottom,#b92725 0,#801005 83%)
}

.btn_warn button,.btn_warn input {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5)
}

.btn_default {
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	background-color: #efefef;
	background-image: -moz-linear-gradient(top,#fafafa 15%,#e7e7e7 83%);
	background-image: -webkit-gradient(linear,0 15%,0 83%,from(#fafafa),to(#e7e7e7));
	background-image: -webkit-linear-gradient(top,#fafafa 15%,#e7e7e7 83%);
	background-image: -o-linear-gradient(top,#fafafa 15%,#e7e7e7 83%);
	background-image: linear-gradient(to bottom,#fafafa 15%,#e7e7e7 83%)
}

.btn_default:active {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	background-color: #b4b3b3;
	background-image: -moz-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#d2d2d2),to(#a09f9f));
	background-image: -webkit-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: -o-linear-gradient(top,#d2d2d2 0,#a09f9f 83%);
	background-image: linear-gradient(to bottom,#d2d2d2 0,#a09f9f 83%)
}

.btn_default button,.btn_default input {
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75)
}

.btn_info {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	background-color: #3c78eb;
	background-image: -moz-linear-gradient(top,#6b9eff 0,#1d5fdd 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#6b9eff),to(#1d5fdd));
	background-image: -webkit-linear-gradient(top,#6b9eff 0,#1d5fdd 83%);
	background-image: -o-linear-gradient(top,#6b9eff 0,#1d5fdd 83%);
	background-image: linear-gradient(to bottom,#6b9eff 0,#1d5fdd 83%)
}

.btn_info:active {
	background-color: #3567c7;
	background-image: -moz-linear-gradient(top,#5b8fef 0,#1b4dac 83%);
	background-image: -webkit-gradient(linear,0 0,0 83%,from(#5b8fef),to(#1b4dac));
	background-image: -webkit-linear-gradient(top,#5b8fef 0,#1b4dac 83%);
	background-image: -o-linear-gradient(top,#5b8fef 0,#1b4dac 83%);
	background-image: linear-gradient(to bottom,#5b8fef 0,#1b4dac 83%)
}

.btn_info button,.btn_info input {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5)
}

.btn_back {
	position: absolute;
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0 6px 0 3px;
	color: #000;
	font-size: 14px;
	text-align: center;
	margin-top: 6px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 1px #dddedb;
	-moz-box-shadow: 0 1px 1px #dddedb;
	-webkit-box-shadow: 0 1px 1px #dddedb;
	background-color: #e4e4e4;
	background: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#d5d5d5),color-stop(0.1,#f1f1f1),color-stop(0.5,#e4e4e4),color-stop(0.9,#d7d7d7),color-stop(1,#03940e));
	background-image: -moz-linear-gradient(top,#f1f1f1 10%,#e4e4e4 50%,#d7d7d7 90%,#d5d5d5 100%)
}

.btn_back .ico_back {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-top: -3px;
	background: url("/bizmall/zh_CN/htmledition/style/base/mall_base_z.png") 0 0 no-repeat;
	vertical-align: middle
}

.btn_gray {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	padding: 0 12px;
	color: #000;
	font-size: 14px;
	text-align: center;
	border: 1px solid #bebebe;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 1px #dddedb;
	-moz-box-shadow: 0 1px 1px #dddedb;
	-webkit-box-shadow: 0 1px 1px #dddedb;
	background-color: #e4e4e4;
	background: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#d5d5d5),color-stop(0.1,#f1f1f1),color-stop(0.5,#e4e4e4),color-stop(0.9,#d7d7d7),color-stop(1,#03940e));
	background-image: -moz-linear-gradient(top,#f1f1f1 10%,#e4e4e4 50%,#d7d7d7 90%,#d5d5d5 100%)
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.btn_back .ico_back {
		background-image: url(/bizmall/zh_CN/htmledition/images/icon/common/back_2x.png);
		background-size: 15px 15px;
		-webkit-background-size: 15px 15px;
		background-position: center
	}
}

.mask {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.state {
	text-align: center;
	padding: 0 7px 14px
}

.state .suc-icon,.state .fail-icon {
	height: 110px;
	width: 110px;
	margin: 48px auto 20px
}

.state .suc-icon {
	background: url("/bizmall/zh_CN/htmledition/style/base/mall_base_z.png") 0 -25px no-repeat
}

.state .fail-icon {
	background: url("/bizmall/zh_CN/htmledition/style/base/mall_base_z.png") 0 -145px no-repeat
}

.state .content {
	background: 0;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding-bottom: 24px
}

.state .content h3 {
	font-size: 18px;
	line-height: 1.5em
}

.state .content p {
	color: #898989;
	line-height: 1.5em
}

.state .supply_mesg {
	padding-top: 16px;
	border-top: 1px solid #f0f0ef;
	box-shadow: 0 -1px 0 #c6c6c6
}

.state .supply_mesg p {
	color: #898989;
	line-height: 1.5em
}

.state .link_go {
	display: block;
	text-align: center
}

.state .link_go .link_ico {
	width: 11px;
	height: 11px;
	margin-left: 3px;
	background: url("/bizmall/zh_CN/htmledition/style/base/mall_base_z.png") 0 -265px no-repeat;
	width: center;
	height: center;
	vertical-align: middle;
	display: inline-block
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.state .suc-icon {
		background-image: url(/bizmall/zh_CN/htmledition/images/icon/wow_gift/suc_2x.png);
		background-size: 110px 110px;
		-webkit-background-size: 110px 110px;
		background-position: center
	}

	.state .fail-icon {
		background-image: url(/bizmall/zh_CN/htmledition/images/icon/wow_gift/fail_2x.png);
		background-size: 110px 110px;
		-webkit-background-size: 110px 110px;
		background-position: center
	}

	.link_go .link_ico {
		background-image: url(/bizmall/zh_CN/htmledition/images/icon/common/intro_link_ico_2x.png);
		background-size: 11px 11px;
		-webkit-background-size: 11px 11px;
		background-position: center
	}
}

.wrp_loading{text-align:center;line-height:500px;position:fixed;width:100%;left:0;top:0;z-index:1000}.ui_mask{position:fixed;width:100%;height:100%;left:0;top:0;filter:alpha(opacity = 50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5;z-index:1001;background-color:#000;display:none}
.wx_body{margin-left:auto;margin-right:auto;max-width:640px}.more_link{display:block;margin:20px 10px 20px;line-height:44px;background-color:#f2f2f2;font-size:17px;color:#000;text-align:center}.fix_more_link .more_link{position:fixed;bottom:20px;left:10px;right:10px;margin:0}.wap_shop_module_list{overflow:hidden}.shop_module_item{position:relative;margin:0 10px 10px}.shop_module_item.shop_module_banner{margin-left:0;margin-right:0;margin-bottom:35px}.shop_module_item.shop_module_banner:first-child{margin-top:0}.shop_module_item.shop_module_floor{margin-top:20px;margin-bottom:20px}.shop_module_item .goods_link{display:block;color:#000;font-size:0}.shop_module_item .shop_modele_mask{display:none}.shop_module_item:first-child{margin-top:10px}.shop_module_item .sub_price{display:inline-block;vertical-align:bottom;text-decoration:line-through;color:#999;font-size:13px;margin-left:5px}.shop_module_hd h4{font-weight:400;font-style:normal;font-size:18px}.shop_module_hd a{display:block;position:relative;color:#000}.shop_module_hd .icon_arrow{position:absolute;right:12px;top:9px;width:7px;height:7px;border-color:#c7c7cc;border-style:solid;border-width:2px 2px 0 0;-webkit-transform:rotate(45deg)}.pic_mask{display:none;position:absolute;top:0;left:0;width:100%;height:100%}.shop_module_banner{height:150px}.shop_module_banner .banner_bg{display:block;height:100%;overflow:hidden}.shop_module_banner .banner_pic{width:100%;height:100%}.shop_module_banner .banner_logo{position:absolute;z-index:1;bottom:-20px;left:10px;width:68px;height:68px;background-color:#fff;padding:3px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;box-shadow:0 .5px 1px 0 rgba(0,0,0,0.6);-moz-box-shadow:0 .5px 1px 0 rgba(0,0,0,0.6);-webkit-box-shadow:0 .5px 1px 0 rgba(0,0,0,0.6);overflow:hidden}.shop_module_banner .banner_logo img{width:100%;height:100%;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;background-color:#eee}.shop_module_banner .shop_banner_title{position:absolute;z-index:1;bottom:7px;left:95px;font-size:18px;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.7)}.shop_module_banner .pic_mask{display:block;background:transparent url(/bizmall/zh_CN/htmledition/images/goods_shelf/shop_float_bg.png) no-repeat 0 0;background-repeat:repeat-x;width:100%;height:45px;bottom:0;left:0;top:auto;filter:none}.shop_module_floor .shop_module_hd{border-bottom:1px solid #e2e2e2;padding-top:5px;padding-bottom:5px;margin-bottom:10px;margin-right:-10px}.shop_module_floor .goods_list{text-align:justify;text-justify:distribute-all-lines;font-size:0}.shop_module_floor .goods_list:after{content:".";display:inline-block;width:100%;height:0;font-size:0;overflow:hidden}.shop_module_floor .goods_item{display:inline-block;*display:inline;*zoom:1;vertical-align:top;text-align:left;padding-bottom:19px;font-size:14px;width:48.5%;text-justify:auto}.shop_module_floor .goods_item .cover{width:99%;border:1px solid #e2e2e2;background-color:#eee}.shop_module_floor .goods_item .title{display:block;font-weight:400;font-style:normal;color:#999;width:auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:13px}.shop_module_floor .goods_item .price{display:inline-block;vertical-align:bottom;font-size:19px;line-height:24px}.shop_module_single_activity img{width:100%;height:140px;border:1px solid #e2e2e2;background-color:#eee}.shop_module_multi_activity{margin-bottom:10px;position:relative}.shop_module_multi_activity .goods_list{text-align:justify;text-justify:distribute-all-lines;font-size:0;position:relative}.shop_module_multi_activity .goods_list:after{content:".";display:inline-block;width:100%;height:0;font-size:0;overflow:hidden}.shop_module_multi_activity .goods_wrp{position:relative;display:inline-block;*display:inline;*zoom:1;text-align:left;height:100%;width:57%;vertical-align:top;font-size:14px}.shop_module_multi_activity .goods_wrp img{width:100%;margin-bottom:-7px;border:1px solid #e2e2e2;background-color:#eee}.shop_module_multi_activity .goods_wrp .goods_link{height:100%}.shop_module_multi_activity .goods_wrp.with2{width:42%;position:absolute;right:0;height:100%}.shop_module_multi_activity .goods_wrp.with2 img{max-height:100%;position:absolute}.shop_module_multi_activity .goods_wrp.with2 .goods_link{position:absolute;bottom:0;height:49.2%;width:100%}.shop_module_multi_activity .goods_wrp.with2 .goods_link:first-child{top:0;bottom:auto;margin-top:0}.shop_module_multi_activity .goods_link{font-size:14px}.shop_module_category{margin-bottom:6px}.shop_module_category .category_list{text-align:justify;text-justify:distribute-all-lines;font-size:0}.shop_module_category .category_list:after{content:".";display:inline-block;width:100%;height:0;font-size:0;overflow:hidden}.shop_module_category .category_item{display:inline-block;*display:inline;*zoom:1;vertical-align:top;width:49.5%;margin-bottom:4px;text-align:center;font-size:15px;background-color:#f2f2f2}.shop_module_category .category_item a{padding:0 12px;line-height:40px;height:40px;width:auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:15px}.shop_module_slist{position:fixed;top:0;bottom:0;left:0;right:0;margin:0}.shop_module_slist .banner{display:none}.shop_module_slist .pic_mask{display:block;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#73000000',endcolorstr = '#73000000');background:rgba(0,0,0,0.45)}.shop_module_slist h4{display:none}.shop_module_slist .category_list{position:absolute;bottom:73px;width:100%;text-align:center;font-size:0}.shop_module_slist .category_item{display:inline-block;*display:inline;*zoom:1;vertical-align:top;width:36%;height:40px;font-size:15px;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bfffffff',endcolorstr = '#bfffffff');background:rgba(255,255,255,0.75);margin:2px;line-height:40px;color:#000}.shop_module_slist .category_item .goods_link{font-size:15px}.shop_module_slist .category_item.last{width:73.5%}.shop_module_slist:first-child{margin-top:0}.shop_module_hlist .goods_list{padding:0 0 20px 15px}.shop_module_hlist .goods_item{position:relative;min-height:90px;padding:11px 15px 11px 101px;border-bottom:1px solid #bcbcbc}.shop_module_hlist .goods_item .title{font-weight:400;font-style:normal;font-size:14px;color:#5c5c5c;padding-top:2px}.shop_module_hlist .goods_item .price{font-weight:400;font-style:normal;font-size:21px;position:absolute;left:101px;bottom:11px}.shop_module_hlist .goods_item .pic{width:90px;height:90px;position:absolute;left:0;top:11px}
@media screen and (device-aspect-ratio: 2/3) {
	.shop_module_slist .banner_logo{top:40px;}
	.shop_module_slist .category_list{bottom:40px;}
	.ratio2{
		.shop_module_slist .banner_logo{top:80px;}
		.shop_module_slist .category_list{bottom:80px;}
	}
}




